<div class="main-page">
	<p>
	<img style="margin-left: 250px;" src="images/hornet.png" width="200">
	</p>
	<div class="circle">
		
		<div class="logo-text">dsga</div>
	</div>
  <p class="lead">
  </p>
  <div class="home-title"> DSGA Manager</div>
<!--
  <div class="center-div">
		<toggle class="toggle center-content" ng-model="settings.active" ng-change="toggleSwitch()" on="On" off="Off" onstyle="btn-success"></toggle>
  </div>
-->
  
  
<!--   <b><span class="nice-blue-text">{{settings.data.endpoint}}</span></b> -->
  <div id="list-button-centered">
  <br></br>
  <p><a class="btn btn-lg btn-info" ng-href="#/Senders">Go To Senders List <span class="glyphicon glyphicon-th-list"></span></a></p>
  </div>

</div>


